.form-container {
  grid-column: 3;
  grid-row: 2;
  background-color: whitesmoke;
  padding: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Gilda Display', serif;
  border-radius: 1%;
  transition: 0.3s ease-in-out;
}

.signature {
  margin-top: 50px;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  font-size: 2em;
  color: #85bdbf;
}

.contact-response {
  color: #85bdbf;
  font-weight: bolder;
  margin-left: 10px;
}

.contact-form-info {
  font-weight: bolder;
}
